%header
  %h1 Your guide

%section.row
  .span2.well.sidebar-nav
    %ul.nav.list
      %li.nav-header Your guides
      %li= link_to 'Starred', ''
      %li Must watch
      %li Snack
      %li.nav-header Other guides
      %li All
      %li Most Starred
      %li SciFi
  