@import 'bootstrap/mixins';

.fav {
  font-size: 20px;
  &:hover {
    text-decoration: none;
  }
}

.episode {
  @include clearfix();
  @include gradient-vertical(#FFF, #F4F4F4);
  @include box-shadow(0 2px 5px rgba(0,0,0,0.15));

  padding: 10px 20px;
  .description {
    padding: 10px;
    font-size: 0.9em;
  }
}